*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #232023;
}

#container{
    display: grid;
    place-items: center;
    gap: 3.5rem;
    width: 100%;
}

button{
    width: 10rem;
    height: 5rem;
    border: none;
    border-radius: 8px;

    font-size: 1rem;
    font-weight: bold;
    background-color: #c30010;
    color: #f8fafc;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #f01e2c;
    color: white; /* Isso garante que o texto seja legível quando o fundo é vermelho */
    
}

button a{
    color: #cbd5e1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.5s;
}

#btn{
    margin-top: 5%;
}

.box-style{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: #f8fafc;
    background-color: #333333;
    border-radius: 8px;
}

.hidden{
    display: none;
}